@font-face {
    font-family: beatFont;
    src: url("../font-family/BeatWordDemo-nRL20.ttf");
}

body {
    margin: 0;
    background-color: rgb(222, 110, 130);
    align-items: center; 
    
}
#titulo-principal {
    display:flex;
    align-content: center;
    justify-content: center;
    font-family: beatFont;
    font-size: 5em;
    margin-top: 30px;
    margin-bottom: 0px;
    color:rgb(255, 255, 255)

   
}

#canvas {
    background-color: lightgray;
}

#start-game-btn, #restart-btn{
    background-color: rgb(110, 218, 222);
    color:rgb(255, 255, 255);
    padding:20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium';
    
}

 h3 {
     font-family: beatFont;
     color: rgb(71, 212, 125);
     font-size: 4em;
}

#front-img{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}


.container{
    background-color: rgb(222, 110, 130);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px, 50px, 50px, 50px;

}
#total-score{
    margin: 10px;
}

#canvas, #gameover-screen{
    display: none; 
}

#start-game {
    margin-top: 0px;
}